.input_wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  margin-bottom: 15px;
}

.input {
  font-family: inherit;
  margin-bottom: 3px;
  padding: 13px 18px;
  border: 1px solid #badcfc;
  transition: box-shadow 0.3s ease, border 0.5s ease;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 9px 0px #639bd0;
}

.input_error {
  border: 1px solid #ff3d5a;
}
.input_error:focus {
  box-shadow: 0 0 9px 0px #ff3d5a;
}

.errors {
  overflow: hidden;
  margin-bottom: 25px;
  font-size: 12px;
  max-height: 0px;
  color: #ff3d5a;
  transition: all 0.5s ease;
}

.errors_show {
  overflow: hidden;
  max-height: 100px;
}