@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-20%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.book_list {
  position: relative;
  list-style: none;
  background-color: white;
  /* box-shadow: 0 11px 27px 0 rgba(78, 160, 237, 0.2); */
  animation: show 0.5s ease;
}

.book_list:after,
.book_list:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.book_list::after {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.book_list::before {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}