.button {
  position: relative;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 25px 12px 50px;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
  transition: filter 0.3s ease;
}


.img {
  position: absolute;
  left: 5%;
  top: 50%;
  bottom: 0;
  transform: translate(-50%,-50%);
  height: 80%;
  background-color: #fff;
  box-sizing: content-box;
  padding: 5px;
  border-radius: 50%;
  box-shadow: -1px 1px 8px 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.7s ease;
}

.button:hover {
  filter: saturate(200%);

}

.button:focus {
  outline: none;
  filter: saturate(200%);
}

.button:hover > .img,
.button:focus > .img {
  transform: translate(-50%, -50%) rotate(360deg);
}